<%= form_with(url: search_path, local: true, method: "get", class: 'search-form') do %>
  <div class="field has-addons">
    <div class="control">
      <div class="col s6">
        <%= text_field_tag(:title, nil, class: 'input', placeholder: 'Title') %>
      </div>
    </div>
    <div class="control">
      <div class="col s6">
        <%= select_tag(:genre_id, options_from_collection_for_select(@genres, "id", "name"), include_blank: "Any", class: 'form-control') %>
      </div>
    </div>
    <div class="control">
      <%= submit_tag("Search", class: "button is-info") %>
    </div>
  </div>
<% end %>