<%= paginate @movies %>

<div class="row" style="margin-top: 50px">
  <h5>Search movies by genre:</h5>
  <%= render 'movies/search_form' %>
</div>

<div class="row">
  <% @movies.each do |movie| %>
    <%= render partial: 'movie',
              object: movie,
              locals: { show_link: false } 
    %>
  <% end %>
</div>