<div class="row" style="margin-top: 50px">
  <%= paginate @movies %>
  <h5 style="text-align: center">Search movies by genre:</h5>
  <%= render 'movies/search_form' %>
</div>

<p>
  Found <%= pluralize(@movies.size, 'result') %>.
</p>

<div class="row">
  <%= render partial: 'movies/movie',
             collection: @movies,
             locals: { show_link: true } %>
</div>